body{
    margin:0px;
}
ul {
    list-style:none;
    padding: 0px;
    margin:0px;
}

.navbar{
    display:flex;
    justify-content: space-between;
    padding: 10px;
}

.buscar{
    background-color: white;
    border:1px solid rgb(206, 206, 206);
    padding:3px;
    border-radius: 7px;
}

.buscar:focus-within{
    border:1px solid rgb(117, 124, 214);

}

.buscar > input{
    outline: none;
    border: 0px;
}